<html>
	<head>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<title>BoardSpot</title>
	</head>
<body>
{{posts}}
	<div>
		<h1><a href="">Kyle/Nick's Blog</a></h1>
	</div>
	<div>
		<p>published: 9.14.2015</p>
		<h2><a href="">My first post</a></h2>
		<p>This is more text</p>
	</div>
	<div>
		<p>published: 9.14.2015</p>
		<h2><a href="">My second post</a></h2>
		<p>More text</p>
	</div>
</body>
</html>
